/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
    margin: 0;
    color: #636b6f;
    font-family: 'Nunito Sans', sans-serif;
}
